#settings
  table
    tr
      cursor pointer
#top
  img
    width 300px
    position relative
.bg-tomato
    width 90%
    z-index: -1
.tomato
    position absolute
.tomato-time
  display flex
  align-items center
  justify-content center
#app
  font-family 'Mochiy Pop P One', sans-serif
#list,#settings
  position absolute
  top 20%
  right 10%
  width 40%
  @media screen and (max-width: 768px)
    top 70%
    left 10%
    width 80%
#contect
  a
    color #000
  