#settings
  table
    tr
      cursor pointer
#top
  img
    width 300px
    position relative
#list
  img
    width 90%
    position relative
    z-index: -1
#list
  div.tomato
    position absolute
.tomato-time
  display flex
  align-items center
  justify-content center
#app
  font-family 'Mochiy Pop P One', sans-serif